@model IEnumerable<Student>
@using couse.Models;
@using couse;

@{
                ViewBag.Title = "Index";
}

<h2>Curator</h2>

<style type="text/css">

    .outline {
        border: solid black;
        padding: 0px 0px 0px 0px;
        color: black;
        font-family: 'Times New Roman', Times, serif;
        align-content: center;
    }

    body {
        background: url(/image/4.png) no-repeat center content-box;
        /*linear-gradient(palegreen, white);*/
    }

    input {
        font-weight: 10;
        color: black;
        border-radius: 1px;
        background: #b8b3b3;
    }

        input:hover {
            background: rgb(53, 167, 110);
        }

        input:active {
            background: rgb(33,147,90);
            box-shadow: 0 3px rgb(33,147,90) inset;
        }

    h2 {
        align-content: center;
        color: black;
    }

    label {
        font-family: 'Times New Roman', Times, serif;
        align-content: center;
    }
</style>



<br />
<br><br><br>


<body>

    <p>
        <div class="outline">
            <label>@Session["login_user"]</label>
        </div>
    <div class="outline">
            <label>Group: @Model.First().group_students</label>
        </div>
    </p>
    @foreach (Student stud in Model)
    {
        <div class="student">
            <div class="outline">

                <label>@stud.FIO</label>
            </div>

        </div>
    }

    <br><br><br>
    <div>
    </div>

    <form method="post" enctype="multipart/form-data">
        <div>
            <input name="file" type="file" required />
            <button type="submit">Import</button>
        </div>
    </form>
    <br>

    @Html.ActionLink("Download", "Download", new { })

</body>
